<div id="page_title"><span class="fa fa-user-circle"></span> マイページ</div>
<div id="tabs">
    <a class="active"><span class="fa fa-user-circle"></span> マイページ</a>
    <a href="/apps/new"><span class="fa fa-plus-circle"></span> アプリケーションの追加</a>
    <a href="/themes/new"><span class="fa fa-plus-circle"></span> テーマの追加</a>
</div>
<div id="content">
<% if(account) %>
    <%= account.authorid %>さんのマイページ<hr>
    <i class="fa fa-user-circle button_icon"></i><%= link_to("自分のプロフィールへ", "/"+account.authorid, class: "button")%>
    <i class="fa fa-plus button_icon"></i><%= link_to("新規アプリケーションの登録", "/apps/new", class: "button") %>
    <i class="fa fa-plus button_icon"></i><%= link_to("新規テーマの投稿", "/themes/new", class: "button") %>
    <i class="fa fa-user-times button_icon"></i><%= link_to("kitHubから退会", "/users/delete", class: "button") %>
    <i class="fa fa-sign-out-alt button_icon"></i><%= link_to("ログアウト", "/sessions/" + account.authorid, method: :delete, class: "button" ) %>
<% else %>
    <%= link_to( "ログイン", "/users/login" ) %>してください。
<% end %>
</div>