<div id="page_title"><span class="fa fa-user-circle"></span> マイページ</div>
<div id="tabs">
    <a class="active"><span class="fa fa-user-circle"></span> マイページ</a>
</div>
<div id="content">
<% if(account) %>
    <%= account.authorid %>さんのマイページ
    <%= link_to("プロフィールへ", "/"+account.authorid, class: "button")%>
    <%= link_to("新規アプリケーションの登録", "/apps/new", class: "button") %>
    <%= link_to("新規テーマの投稿", "/themes/new", class: "button") %>
    <%= link_to("kitHubから退会", "/users/delete", class: "button") %>
    <%= link_to("ログアウト", "/sessions/" + account.authorid, method: :delete, class: "button" ) %>
<% else %>
    <%= link_to( "ログイン", "/users/login" ) %>してください。
<% end %>
</div>