<div id="page_title"><span class="fa fa-user"></span> <%= @user.authorid %></div>
<div id="tabs">
    <a class="active"><span class="fa fa-user-circle"></span> ユーザー情報</a>
    <a><span class="fa fa-book"></span> 投稿したアプリ</a>
    <a><span class="fa fa-swatchbook"></span> 投稿したテーマ</a>
</div>
<div id="content">
<div class="box">
    <div style="font-size: 28px;"><%= @user.authorid %></div>
    <div style="font-size: 18px;"><%= @user.name %></div>
    <hr>
        <% if( @user.profile ) %>
            <%= @user.profile %>
        <% else %>
            プロフィールが設定されていません。
        <% end %>
</div>
<div><%= @user.created_at %>に登録</div>
</div>